<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetails</servlet-name>
        <servlet-class>controller.account.AccountDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.account.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>controller.account.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieListsController</servlet-name>
        <servlet-class>controller.movie.MovieListsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieAdminController</servlet-name>
        <servlet-class>controller.movie.MovieAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieUpdateController</servlet-name>
        <servlet-class>controller.movie.MovieUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieInsertController</servlet-name>
        <servlet-class>controller.movie.MovieInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaAdminController</servlet-name>
        <servlet-class>controller.cinema.CinemaAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaRowSeatController</servlet-name>
        <servlet-class>controller.cinema.CinemaRowSeatController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/account/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/testservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/account/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetails</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/account/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/errorpage.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/account/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieListsController</servlet-name>
        <url-pattern>/movie/lists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieAdminController</servlet-name>
        <url-pattern>/admin/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieUpdateController</servlet-name>
        <url-pattern>/admin/movie/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieInsertController</servlet-name>
        <url-pattern>/admin/movie/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaAdminController</servlet-name>
        <url-pattern>/admin/cinema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaRowSeatController</servlet-name>
        <url-pattern>/cinema/rowseat</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
